body {
    background-color: grey;
    border: 4px solid: black;
}

nav li {
    display: inline-block;
    text-align: center;
    width: 100px;
    text-shadow: #ff4400;
    text-size-adjust: 25px;


}

h1 {
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
 
}
header {
    height: 200px;
    text-decoration: #ff4400;

}

#intro {
    border: 8px solid black;
}

#intro img {
    float: center;
    align-items: center;
    border-radius: 25%;
    padding-left: 150px;
    padding-right: 150px;
}

.section2 {
    max-width: 30%;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 25px;
    border: 8px solid black;

}

.section2 img {
    max-width: 250px;
    max-height: 250px;
    margin-top: 30px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px
    display: inline-block;
    border-radius: 10%;


}